input{
    padding: 8px 12px;
    border: 1px solid #d1d5db;
    border-radius: 6px;
    font-size: 1rem;
    width: 100%;
    box-sizing: border-box;
    margin-top: 4px;
    margin-bottom: 12px;
    background-color: #d5dae0;
    color: #1f2937;
}